.Card {
    background-color: rgba(255, 255, 255, 0.7);
    -webkit-backdrop-filter: saturate(180%);
    backdrop-filter: saturate(180%) blur(10px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
    margin: 0 26px 52px 26px;
    width: 350px;
    display: flex;
    flex-direction: column;
    transition: 0.4s;
    border-radius: 30px;
  }

.Card .image {
  background: #69d570;
  background: linear-gradient(326deg, rgb(143 230 174) 0%, rgba(52, 141, 235, 1) 100%);
  width: 100%;
  /* padding-top: 56.25%; */
  cursor: pointer;
  border-radius: 30px 30px 0 0;
  flex-grow: 63;
  }
       
.Card img {
  max-height: 300px;
  height: 300px;
  width: 350px;
  border-radius: 30px 30px 0 0;
  }
    
.Card .contentWrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-radius: 0 0 30px 30px;
  background-color: white;
  }
     
.Card .contentWrapper h3 {
  font-weight: 100;
  font-size: 26px;
  margin-top: 0;
  cursor: pointer;
  }
   
.Card .contentWrapper p {
  /* flex-grow: 1; */
  font-size: 19px;
  line-height: 24px;
  margin-top: 0;
  }
    
.Card .contentWrapper a {
  font-weight: 800;
  color: #000;
  font-size: 19px;
  transition: color 0.5s;
  text-decoration: none;
  }
    
/* .Card .contentWrapper a:hover {
  color: #888;
  } */
        
.Card .toggle {
  margin-top: 1rem;
  background-color: transparent;
  color: #5212ca;
  border: none;
  padding: 0.15rem 1.5rem;
  font-size: 1.15rem;
  }

.Card:hover {
  transform: scale(1.1, 1.1);
 }