html, body, body > div, .backgroundColour{
  background:linear-gradient(to left, #FF6654, #FF295F);
  height: 100%;
}

.blockText {
  font-weight: 800;
  font-size: 70px;
  line-height: 70px;
  margin: 70px;
  /* color: rgb(88 208 234/var(--tw-text-opacity)); */
  --tw-text-opacity: 1;
  font-family: -apple-system,BlinkMacSystemFont,“Segoe UI”,“Roboto”,“Oxygen”,“Ubuntu”,“Cantarell”,“Fira Sans”,“Droid Sans”,“Helvetica Neue”,sans-serif;
  text-transform: uppercase;
  background: linear-gradient(to right, #57006b, #bf5e8d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

 :hover {
  transform: scale(1.1, 1.1);
  }
  .image {
  background: #69d570;
  background: linear-gradient(326deg, rgb(143 230 174) 0%, rgba(52, 141, 235, 1) 100%);
  width: 100%;
  /* padding-top: 56.25%; */
  cursor: pointer;
  border-radius: 30px 30px 0 0;
}

  img {
  max-height: 300px;
  height: 300px;
  width: 350px;
  border-radius: 30px 30px 0 0;
}

  .contentWrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-radius: 0 0 30px 30px;
  background-color: white;
}
  .contentWrapper h3 {
  font-weight: 100;
  font-size: 26px;
  margin-top: 0;
  cursor: pointer;
}
  .contentWrapper p {
  flex-grow: 1;
  font-size: 19px;
  line-height: 24px;
  margin-top: 0;
}
  .contentWrapper a {
  font-weight: 800;
  color: #000;
  font-size: 19px;
  transition: color 0.5s;
  text-decoration: none;
}
  .contentWrapper a:hover {
  color: #888;
}

.actions {
  margin-top: 1.5rem;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
}


  .button{
  text-align: center;
}

  .button button {
  cursor: pointer;
  font: inherit;
  color: white;
  background-color: rgb(255 111 111);
  border-radius:12px;
  padding: calc(0.34435vw + 13.38843px) calc(0.34435vw + 18.38843px);
  margin-bottom: 1rem;
  font-family: Helvetica, sans-serif;
  font-weight: 600;
  margin-top: 30px;
  width: 90%;
}

  .button button:hover {
  background-color: rgb(197, 86, 86);
}

  .toggle {
  margin-top: 1rem;
  background-color: transparent;
  color: #5212ca;
  border: none;
  padding: 0.15rem 1.5rem;
  font-size: 1.15rem;
}

.actions .toggle:hover {
  background-color: transparent;
  color: #0a2396;
}